<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

       <!--<description>dubbo服务治理配置文件</description>

       <dubbo:application name="consumer-app" />
       &lt;!&ndash;dubbo服务注册中心（zooKeeper支持）&ndash;&gt;
       <dubbo:registry address="zookeeper://192.168.1.109" port="2181" check="true"/>

       <dubbo:reference id="heheda" interface="org.platform.service.StuService" />-->

       <aop:aspectj-autoproxy />
       <bean id="stuServicee" class="org.platform.service.stu.StuServicee"></bean>

       <!--加入自动加密切面-->
       <bean id="encryptHandler" class="org.platform.helper.EncryptHandler"></bean>

</beans>